version: "3.9"

services:
  api:
    build: ./api
    restart: on-failure
    deploy:
      replicas: 3

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "8081:80"
    depends_on:
      - api


